.tableFixHead {
    overflow: auto;
    max-height: 450px;
    background-color: white;
    width:90%;
    margin-left: auto;
    margin-right: auto;"
}
.tableFixHead thead th {
    position: sticky;
    top:0;
    background-color: #112d4e ;
}
td {
    white-space: pre-wrap;
}
.alertPopup {
    padding: 10px;
    width: 220px;
    display: block;
    height: 50px;
    margin-top: 15px;
    margin-left:640px;
    position:center;
}
.buttonsContainer{
    width:450px !important;
}
.centerItems{
    table-layout: fixed;
    text-align: center;
}
.selectOptions {
    margin-top: 35px;
    margin-left: 350px;
    float: left;
}
.daysDropDown {
    width: 230px !important;
    float: right;
    margin-left: 20px;
}
.optionsContainer {
    width:1030px !important;
}
.longReservationsTable {
    width:1300px!important;
    margin-top: 20px !important;
}
.shortReservationsTable{
    width:800px!important;
    margin-top: 20px !important;
}
.availableBoatsTable{
    width:500px !important;
    max-height: 250px !important;
}
caption{
    text-align: center !important;
}