.tableFixHead {
    overflow: auto;
    max-height: 450px;
    background-color: white;
    width:90%;
    margin-left: auto;
    margin-right: auto;"
}
.tableFixHead thead th {
    position: sticky;
    top:0;
    background-color: khaki ;
}
td {
    white-space: pre-wrap;
}
.alertPopup {
    padding: 10px;
    width: 220px;
    display: block;
    height: 50px;
    margin-top: 15px;
    margin-left:640px;
    position:center;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttonsContainer{
    height: 90px;
    position: relative;
}
.buttonEdit{
    margin-right: 120px;
}
.centerItems{
    table-layout: fixed;
    text-align: center;
}
.selectOptions {
    margin-top: 35px;
    margin-left: 350px;
    float: left;
}
.optionButton {
    margin-left:100px;
}
.daysDropDown {
    width: 250px !important;
    float: right;
    margin-left: 20px;
}