.boatsTable{
    width:1300px!important;
    margin-top: 40px ;
}

.boatsTable thead th {
    background-color: brown !important;
}
td{
    height: 70px !important;
}
h2.title {
    margin-top: 10px ;
    text-align: center ;
    color: black;
    font-size: 75px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 2px 2px 8px darkred;
}

.lightsteelblueBackGround{
    background-color: lightsteelblue !important;
    width: 750px !important;
}