.table thead th {
    position: sticky;
    top:0;
    background-color: lavender;
}
.daysDropDown {
    width: 250px !important;
    float: right;
    margin-left: 20px;
}
#buttonCreateReservation{
    height:60px;
    margin:0 40%;
    position: absolute;
    top:0;
    text-align: center;

}
#buttonSelectBoatCrew{
    width: 150px;
    margin-right: 25px;
    float: left;
}
#stickyTable{
    width: 100%;
    display: block;
}
#memberTableBody{
    display: block;
    max-height: 430px;
    overflow-y: scroll;
}
#buttonSelectBoatTypes{
    height: 36px !important;
}
#buttonSelectBoatCrew{
    width: 150px;
    margin-right: 25px;
}
#buttonSelectActivity{
    width: 150px;
    margin-left: 30px;
}
#buttonSelectDay{
    width: 150px;
    margin-left: 30px;
}
.memberTable{
    margin-left:60px;
    float:left;
}
.boatTypeTable{
    width:19%;
    float: left;
}
.selectActivityOption{
    margin-top: 10px !important;
}
.formCreateReservation{
    background-color: floralwhite;
    opacity: 90%;
    width:1000px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 20px;
    overflow: auto;
    height: calc(100% - 1.5em);
    margin: auto;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 0 2px white, 0 3px #777;
}
option {
    white-space: pre-wrap;
}
.manualActivityTime {
    width: 230px;
    float: right;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
    flex-grow: 1;
    display: none;
}
.manualActivityTime>div {
    margin-bottom: 5px;
    padding: 1px 5px;
    border-radius: 3px;
    float: left;
    clear: both;
}
.notblock{
    display:inline-block;

}
.selectHour{
    width:60px !important;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.selectMinute{
    width:60px !important;
    display: inline-block;
    float: left;
}
.flexDiv{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#dropDownOptions{
    width:600px;
}
.selectEndTime{
    margin-top: 2px;
}
#endTimeHours{
    margin-left: 7px;"
}
.reservatorTable{
    flex-grow: 1;
    width: 25%;
}
.spaceBodyTable td input{
    margin-left: 50px;
}
.middleItem{
    width:40%;
    flex-grow: 1;
}
.lastItem{
    height: 100px;
    position: relative;
    align-items: center;
}