.title{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 0 2px white, 0 3px #777;
}
.textField {
    width: 250px !important;
}
.standardButton{
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    width:90px;
    height: 45px;
}
.daysDropDown {
    width: 250px !important;
    margin-left: 20px;
}
thead th {
    position: sticky;
    top: 0;
    background-color: white !important;
}
textarea:read-only{
    background-color: white!important;
}
.mediumTable{
    overflow:auto;
    max-height: 200px;"
}