.reservationsTable{
    width:1300px!important;
    margin-top: 130px !important;
}
td {
    height: 100px;
    white-space: pre-wrap;
}

.editRemoveButtons {
    margin-top: 10px;
    margin-left: 190px;
}
#buttonEditReservation {
    float: left;
    margin-left:25%;
}
#buttonRemoveReservation {
    float: left;
    margin-left:10%;
}
h2.title {
    margin-top: 30px ;
    text-align: center ;
    color: khaki;
    font-size: 75px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 2px 2px 8px #FF0000;
}