.tableFixHead {
    overflow: auto;
    max-height: 500px;
    background-color: white;
    margin-top: 130px;
    width:90%;
    margin-left:50px;"
}
.tableFixHead thead th {
    position: sticky;
    top:0;
    background-color: khaki ;
}
td {
    height: 130px;
    white-space: pre-wrap;
}
.alertPopup {
    padding: 10px;
    width: 220px;
    display: block;
    height: 50px;
    margin-top: 15px;
    margin-left:640px;
    position:center;
}
.optionButton {
    margin-left:100px;
}
.selectOptions {
    margin-top: 35px;
    margin-left: 350px;
    float: left;
}
.daysDropDown {
    width: 250px !important;
    float: right;
    margin-left: 20px;
}
.editRemoveButtons {
    margin-top: 10px;
    margin-left: 190px;
}
#buttonEditReservation {
    float: left;
    margin-left:25%;
}
#buttonRemoveReservation {
    float: left;
    margin-left:10%;
}
h2.title {
    margin-top: 30px ;
    text-align: center ;
    color: khaki;
    font-size: 75px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 2px 2px 8px #FF0000;
}