body {
    background-image: url('rowing1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white_link {
    color:white !important;
}
.dropdown-item:hover {
    background-color: dodgerblue !important;
}
.contentBoard{
    background-color: floralwhite;
    opacity: 90%;
    width:1000px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 20px;
    overflow: auto;
    height: calc(100% - 1.5em);
    margin: auto;
}
.bg-darkblue{
    background-color: #112d4e
}
.font-bold{
    font-weight: bold;
}
.btn-darkblue{
    background-color:#112d4e !important ;
    color:white !important;
}
.title-white-blue{
    margin-top: 30px ;
    text-align: center ;
    color: #dbe2ef;
    font-size: 75px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 2px 2px 8px #3f72af;;
}
.title-blue-white{
    margin-top: 30px ;
    text-align: center ;
    color: #3f72af;
    font-size: 75px;
    font-family: 'Ultra', sans-serif;
    text-shadow: 2px 2px 8px white;;
}