body {
    background-image: url('rowing1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white_link {
    color:white !important;
}
.dropdown-item:hover {
    background-color: dodgerblue !important;
}
.contentBoard{
    background-color: floralwhite;
    opacity: 90%;
    width:1000px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 20px;
    overflow: auto;
    height: calc(100% - 1.5em);
    margin: auto;

}